package components

import "github.com/obsidian33/contacts.app/internal/models"

templ NewContact(contact models.Contact) {
	@Layout([]string{}) {
		<form action="/contacts/new" method="post">
			<fieldset>
				<legend>Contact Values</legend>
				<p>
					<label for="email">Email</label>
					<input name="email" id="email" type="email" placeholder="Email" value={ contact.Email }/>
					<span class="error">
						{ contact.Errors["email"] }
					</span>
				</p>
				<p>
					<label for="first_name">First Name</label>
					<input name="first_name" id="first_name" type="text" placeholder="First Name" value={ contact.First }/>
					<span class="error">{ contact.Errors["first"] }</span>
				</p>
				<p>
					<label for="last_name">Email</label>
					<input name="last_name" id="last_name" type="text" placeholder="Last Name" value={ contact.Last }/>
					<span class="error">{ contact.Errors["last"] }</span>
				</p>
				<p>
					<label for="phone">Email</label>
					<input name="phone" id="phone" type="text" placeholder="Phone" value={ contact.Phone }/>
					<span class="error">{ contact.Errors["phone"] }</span>
				</p>
				<button>Save</button>
			</fieldset>
		</form>
		<p>
			<a href="/contacts">Back</a>
		</p>
	}
}
